* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #03394d;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Header  */
header {
    padding: 1rem;
    color: #ffffff;
}

 header h3 {
    font-size: 2rem;
 }

 header span {
    font-size: 2rem !important;
    cursor: pointer;
 }